USE [AcademiaSV]
GO
/****** Objeto: Table [dbo].[Alumno] Fecha de script: 25/5/2026 14:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[id_alumno] [int] IDENTITY(1,1) NOT NULL,
	[id_carrera] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[carnet] [varchar](20) NOT NULL,
	[dui] [varchar](10) NULL,
	[telefono] [varchar](15) NULL,
	[direccion] [varchar](250) NULL,
	[fecha_ingreso] [date] NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_alumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Carrera] Fecha de script: 25/5/2026 14:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrera](
	[id_carrera] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](500) NULL,
	[duracion] [int] NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Ciclo] Fecha de script: 25/5/2026 14:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciclo](
	[id_ciclo] [int] IDENTITY(1,1) NOT NULL,
	[anio] [int] NOT NULL,
	[numero_ciclo] [varchar](2) NOT NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ciclo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Inscripcion] Fecha de script: 25/5/2026 14:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscripcion](
	[id_inscripcion] [int] IDENTITY(1,1) NOT NULL,
	[id_alumno] [int] NOT NULL,
	[id_seccion] [int] NOT NULL,
	[fecha_inscripcion] [date] NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_inscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Maestro] Fecha de script: 25/5/2026 14:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maestro](
	[id_maestro] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[dui] [varchar](10) NULL,
	[especialidad] [varchar](100) NULL,
	[titulo] [varchar](100) NULL,
	[telefono] [varchar](15) NULL,
	[correo] [varchar](150) NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_maestro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Materia] Fecha de script: 25/5/2026 14:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[id_materia] [int] IDENTITY(1,1) NOT NULL,
	[id_carrera] [int] NOT NULL,
	[codigo] [varchar](20) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](500) NULL,
	[anio_plan] [int] NULL,
	[unidades_valorativas] [int] NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Notas] Fecha de script: 25/5/2026 14:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notas](
	[id_nota] [int] IDENTITY(1,1) NOT NULL,
	[id_inscripcion] [int] NOT NULL,
	[nota_parcial1] [decimal](5, 2) NULL,
	[nota_parcial2] [decimal](5, 2) NULL,
	[nota_ultimo_parcial] [decimal](5, 2) NULL,
	[nota_global] [decimal](5, 2) NULL,
	[estado] [varchar](20) NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_nota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Prerrequisito] Fecha de script: 25/5/2026 14:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prerrequisito](
	[id_prerequisito] [int] IDENTITY(1,1) NOT NULL,
	[id_materia] [int] NOT NULL,
	[id_materia_prerequisito] [int] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_prerequisito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Roles] Fecha de script: 25/5/2026 14:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [varchar](50) NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Seccion] Fecha de script: 25/5/2026 14:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seccion](
	[id_seccion] [int] IDENTITY(1,1) NOT NULL,
	[id_materia] [int] NOT NULL,
	[id_maestro] [int] NOT NULL,
	[id_ciclo] [int] NOT NULL,
	[codigo_seccion] [varchar](10) NOT NULL,
	[cupo_maximo] [int] NULL,
	[horario_dia] [varchar](30) NULL,
	[hora_inicio] [time](7) NULL,
	[hora_fin] [time](7) NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_seccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 25/5/2026 14:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NOT NULL,
	[id_alumno] [int] NULL,
	[id_maestro] [int] NULL,
	[nombre_usuario] [varchar](50) NOT NULL,
	[correo] [varchar](150) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_modificacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Alumno_Carnet] Fecha de script: 25/5/2026 14:50:19 ******/
ALTER TABLE [dbo].[Alumno] ADD  CONSTRAINT [UQ_Alumno_Carnet] UNIQUE NONCLUSTERED 
(
	[carnet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Materia_Codigo] Fecha de script: 25/5/2026 14:50:19 ******/
ALTER TABLE [dbo].[Materia] ADD  CONSTRAINT [UQ_Materia_Codigo] UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_Notas_Inscripcion] Fecha de script: 25/5/2026 14:50:19 ******/
ALTER TABLE [dbo].[Notas] ADD  CONSTRAINT [UQ_Notas_Inscripcion] UNIQUE NONCLUSTERED 
(
	[id_inscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Roles_Nombre] Fecha de script: 25/5/2026 14:50:19 ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [UQ_Roles_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Usuarios_Correo] Fecha de script: 25/5/2026 14:50:19 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_Correo] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Usuarios_NombreUsuario] Fecha de script: 25/5/2026 14:50:19 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_NombreUsuario] UNIQUE NONCLUSTERED 
(
	[nombre_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alumno] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[Alumno] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Carrera] ADD  DEFAULT ('Activa') FOR [estado]
GO
ALTER TABLE [dbo].[Carrera] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Ciclo] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[Ciclo] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Inscripcion] ADD  DEFAULT (getdate()) FOR [fecha_inscripcion]
GO
ALTER TABLE [dbo].[Inscripcion] ADD  DEFAULT ('Activa') FOR [estado]
GO
ALTER TABLE [dbo].[Inscripcion] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Maestro] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[Maestro] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Materia] ADD  DEFAULT ('Activa') FOR [estado]
GO
ALTER TABLE [dbo].[Materia] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Notas] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Prerrequisito] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Seccion] ADD  DEFAULT ('Abierta') FOR [estado]
GO
ALTER TABLE [dbo].[Seccion] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Alumno]  WITH CHECK ADD  CONSTRAINT [FK_Alumno_Carrera] FOREIGN KEY([id_carrera])
REFERENCES [dbo].[Carrera] ([id_carrera])
GO
ALTER TABLE [dbo].[Alumno] CHECK CONSTRAINT [FK_Alumno_Carrera]
GO
ALTER TABLE [dbo].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Alumno] FOREIGN KEY([id_alumno])
REFERENCES [dbo].[Alumno] ([id_alumno])
GO
ALTER TABLE [dbo].[Inscripcion] CHECK CONSTRAINT [FK_Inscripcion_Alumno]
GO
ALTER TABLE [dbo].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Seccion] FOREIGN KEY([id_seccion])
REFERENCES [dbo].[Seccion] ([id_seccion])
GO
ALTER TABLE [dbo].[Inscripcion] CHECK CONSTRAINT [FK_Inscripcion_Seccion]
GO
ALTER TABLE [dbo].[Materia]  WITH CHECK ADD  CONSTRAINT [FK_Materia_Carrera] FOREIGN KEY([id_carrera])
REFERENCES [dbo].[Carrera] ([id_carrera])
GO
ALTER TABLE [dbo].[Materia] CHECK CONSTRAINT [FK_Materia_Carrera]
GO
ALTER TABLE [dbo].[Notas]  WITH CHECK ADD  CONSTRAINT [FK_Notas_Inscripcion] FOREIGN KEY([id_inscripcion])
REFERENCES [dbo].[Inscripcion] ([id_inscripcion])
GO
ALTER TABLE [dbo].[Notas] CHECK CONSTRAINT [FK_Notas_Inscripcion]
GO
ALTER TABLE [dbo].[Prerrequisito]  WITH CHECK ADD  CONSTRAINT [FK_Prerequisito_Materia] FOREIGN KEY([id_materia])
REFERENCES [dbo].[Materia] ([id_materia])
GO
ALTER TABLE [dbo].[Prerrequisito] CHECK CONSTRAINT [FK_Prerequisito_Materia]
GO
ALTER TABLE [dbo].[Prerrequisito]  WITH CHECK ADD  CONSTRAINT [FK_Prerequisito_Materia_Requerida] FOREIGN KEY([id_materia_prerequisito])
REFERENCES [dbo].[Materia] ([id_materia])
GO
ALTER TABLE [dbo].[Prerrequisito] CHECK CONSTRAINT [FK_Prerequisito_Materia_Requerida]
GO
ALTER TABLE [dbo].[Seccion]  WITH CHECK ADD  CONSTRAINT [FK_Seccion_Ciclo] FOREIGN KEY([id_ciclo])
REFERENCES [dbo].[Ciclo] ([id_ciclo])
GO
ALTER TABLE [dbo].[Seccion] CHECK CONSTRAINT [FK_Seccion_Ciclo]
GO
ALTER TABLE [dbo].[Seccion]  WITH CHECK ADD  CONSTRAINT [FK_Seccion_Maestro] FOREIGN KEY([id_maestro])
REFERENCES [dbo].[Maestro] ([id_maestro])
GO
ALTER TABLE [dbo].[Seccion] CHECK CONSTRAINT [FK_Seccion_Maestro]
GO
ALTER TABLE [dbo].[Seccion]  WITH CHECK ADD  CONSTRAINT [FK_Seccion_Materia] FOREIGN KEY([id_materia])
REFERENCES [dbo].[Materia] ([id_materia])
GO
ALTER TABLE [dbo].[Seccion] CHECK CONSTRAINT [FK_Seccion_Materia]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Alumno] FOREIGN KEY([id_alumno])
REFERENCES [dbo].[Alumno] ([id_alumno])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Alumno]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Maestro] FOREIGN KEY([id_maestro])
REFERENCES [dbo].[Maestro] ([id_maestro])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Maestro]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Roles] ([id_rol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
-- =============================================
-- DATOS DE PRUEBA
-- =============================================

-- ROLES
SET IDENTITY_INSERT [dbo].[Roles] ON;
INSERT INTO [dbo].[Roles] ([id_rol], [nombre_rol], [fecha_creacion]) VALUES
(1, 'Administrador', GETDATE()),
(2, 'Maestro',       GETDATE()),
(3, 'Alumno',        GETDATE());
SET IDENTITY_INSERT [dbo].[Roles] OFF;
GO

-- CARRERAS
SET IDENTITY_INSERT [dbo].[Carrera] ON;
INSERT INTO [dbo].[Carrera] ([id_carrera], [nombre], [descripcion], [duracion], [estado], [fecha_creacion]) VALUES
(1, 'Técnico en Computación',  'Carrera técnica orientada al desarrollo de software, redes y bases de datos.', 3, 'Activa', GETDATE()),
(2, 'Técnico en Arquitectura', 'Carrera técnica orientada al diseño arquitectónico y representación de planos.', 3, 'Activa', GETDATE()),
(3, 'Ingeniería en Sistemas',  'Carrera enfocada en desarrollo de software y sistemas.', 5, 'Activa', GETDATE());
SET IDENTITY_INSERT [dbo].[Carrera] OFF;
GO

-- CICLOS
SET IDENTITY_INSERT [dbo].[Ciclo] ON;
INSERT INTO [dbo].[Ciclo] ([id_ciclo], [anio], [numero_ciclo], [fecha_inicio], [fecha_fin], [estado], [fecha_creacion]) VALUES
(1, 2026, '01', '2026-01-13', '2026-05-31', 'Activo',   GETDATE()),
(2, 2026, '02', '2026-07-14', '2026-11-30', 'Inactivo', GETDATE());
SET IDENTITY_INSERT [dbo].[Ciclo] OFF;
GO

-- MAESTROS
SET IDENTITY_INSERT [dbo].[Maestro] ON;
SET IDENTITY_INSERT [dbo].[Maestro] OFF;
GO

-- MATERIAS
SET IDENTITY_INSERT [dbo].[Materia] ON;
SET IDENTITY_INSERT [dbo].[Materia] OFF;
GO

-- PRERREQUISITOS
SET IDENTITY_INSERT [dbo].[Prerrequisito] ON;
INSERT INTO [dbo].[Prerrequisito] ([id_prerequisito], [id_materia], [id_materia_prerequisito], [fecha_creacion]) VALUES
(1, 2, 1, GETDATE()),  -- POO requiere Intro a Prog
(2, 3, 2, GETDATE());  -- BD requiere POO
SET IDENTITY_INSERT [dbo].[Prerrequisito] OFF;
GO

-- SECCIONES
SET IDENTITY_INSERT [dbo].[Seccion] ON;
SET IDENTITY_INSERT [dbo].[Seccion] OFF;
GO

-- ALUMNOS (20)
SET IDENTITY_INSERT [dbo].[Alumno] ON;
SET IDENTITY_INSERT [dbo].[Alumno] OFF;
GO

-- INSCRIPCIONES (20)
SET IDENTITY_INSERT [dbo].[Inscripcion] ON;
SET IDENTITY_INSERT [dbo].[Inscripcion] OFF;
GO

-- NOTAS (20)
SET IDENTITY_INSERT [dbo].[Notas] ON;
SET IDENTITY_INSERT [dbo].[Notas] OFF;
GO

-- USUARIOS
SET IDENTITY_INSERT [dbo].[Usuarios] ON;
SET IDENTITY_INSERT [dbo].[Usuarios] OFF;
GO